<footer>
  <div class="container">

        <div class="footer-content">
      <h3>بيانات التواصل</h3>
      <ul class="contact-list">
        <li>
          <a href="mailto:info@shomoulgroup.com"
            >البريد: info@shomoulgroup.com</a
          >
        </li>
        <li><a href="https://api.whatsapp.com/send/?phone=966920031520">الهاتف:920031520 </a></li>
        <li>
          <a href="https://maps.app.goo.gl/gaPvupcYUjr5tbQd8"
            >العنوان: الخبر، المملكة العربية السعودية
            <img
              src="assets/icons/placeholder.png"
              alt="location-img"
              loading="lazy"
          /></a>
        </li>
      </ul>
    </div>
      
    

    <div class="footer-content">
      <h3>روابط سريعة</h3>
      <ul class="list">
        <li><a href="about.html">من نحن</a></li>
        <li><a href="services.html">الخدمات</a></li>
        <li><a href="companies.html">الشركات</a></li>
        <li><a href="clients.html">عملاؤنا</a></li>
        <li><a href="contact.html">اتصل بنا</a></li>
        
      </ul>
    </div>

     <div class="footer-content">
      <h3>تابعنا</h3>
      <ul class="social-links-list">
        <li>
          <a href="https://www.facebook.com/shomoulgroup">
            <img
              src="assets/icons/social-media.png"
              alt="facebook-logo"
              style="width: 30px"
              loading="lazy"
            />
            Facebook
          </a>
        </li>
        <li>
          <a href="https://twitter.com/shomoulgroup">
            <img
              src="assets/icons/X.png"
              alt="x-logo"
              style="width: 30px"
              loading="lazy"
            />
            X
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/shomoul.group">
            <img
              src="assets/icons/instagram.png"
              alt="telegram-logo"
              style="width: 30px"
              loading="lazy"
            />
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.threads.com/@shomoul.group">
            <img
              src="assets/icons/threads.png"
              alt="threads-logo"
              style="width: 30px"
              loading="lazy"
            />
            Threads
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send/?phone=966920031520">
            <img
              src="assets/icons/whatsapp.png"
              alt="whatsapp-logo"
              style="width: 30px"
              loading="lazy"
            />
            WhatsApp
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/shomoulgroup">
            <img
              src="assets/icons/linkedin.png"
              alt="linkedin-logo"
              style="width: 30px"
              loading="lazy"
            />
            LinkedIn
          </a>
        </li>
      </ul>
    </div>


  </div>

  <!--قسم سياسة الخصوصية-->
  <div class="bottom-bar">
    <p> Shomoul CG 2026  © </p>
  </div>
</footer>
