<div class="header-container">
    <div class="header-top">
        <a href="index.html" class="top-logo-link">
            <p class="top-logo">مجموعة شمول للاستشارات الهندسية</p>
        </a>
        <div class="top-bar-contact">
            <a href="mailto:info@shomoulgroup.com"><img src="assets/icons/email.png" alt="email">info@shomoulgroup.com</a>
            <span> | </span>
            <a href="https://api.whatsapp.com/send/?phone=966920031520"><img src="assets/icons/telephone.png" alt="phone">920031520</a>
        </div>
    </div>
    <header>
        <div class="header-wrapper">
            <div class="s-and-l">
                <div class="search-btn"><img src="assets/icons/search-interface-symbol.png" alt="Logo"> </div>
                <div class="language-btn"><img src="assets/icons/world.png" alt="language"></div>
            </div>


            
            

            <nav class="header-nav" id="header-nav">
                <ul>
                    <li><a href="index.html">الرئيسية</a></li>
                    <li><a href="about.html">من نحن</a></li>
                    <li><a href="services.html">الخدمات</a></li>
                    <li><a href="companies.html">الشركات</a></li>
                    <li><a href="projects.html">المشاريع</a></li>
                    <li><a href="clients.html">العملاء</a></li>
                    <li><a href="contact.html">التواصل</a></li>

                </ul>
            </nav>

            <div class="header-actions">
                <a href="https://api.whatsapp.com/send/?phone=966920031520" class="contact-btn">تواصل معنا</a>
            </div>
            

            <button class="menu-toggle" id="menu-toggle" aria-label="فتح القائمة">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>
</div>