<header class="main-header">
  <div class="container">
    <a href="index.html">
      <div class="logo">
        <img
          src="assets/imges/ChatGPT Image 18 مايو 2026، 10_18_32 ص (1).png"
          fetchpriority="high"
          alt="shomoul Logo"
        />
      </div>
    </a>

    <!-- زر القائمة للهاتف -->
    <button type="button" class="menu-toggle" id="menu-toggle" aria-label="فتح القائمة" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav-menu header-nav" id="header-nav">
      <ul>
        <li><a href="index.html">الرئيسية</a></li>
        <li><a href="about.html">عنا</a></li>

        <li><a href="services.html">الخدمات</a></li>

        <li class="has-dropdown">
          <div class="menu-item-link">
            <a href="projects.html">المشاريع</a>
            <span class="dropdown-toggle"><i class="arrow down"></i></span>
          </div>
          <ul class="dropdown-menu">
            <li><a href="project_SEC.html">المشاريع الهندسية</a></li>
            <li><a href="project_SSC.html">مشاريع السلامة</a></li>
            <li><a href="project_SIC.html">مشاريع المصانع</a></li>
          </ul>
        </li>

        <li><a href="companies.html">الشركات</a></li>
        <li><a href="clients.html">العملاء</a></li>
        <li><a href="contact.html">التواصل</a></li>
      </ul>
    </nav>

    <div class="header-actions">
    
      
      <div class="header-socials">
        <a href="https://api.whatsapp.com/send/?phone=966920031520" class="social-icon"><img src="assets/icons/whatsapp.png" alt="Whatsapp" /></a>
        <a href="https://www.linkedin.com/company/shomoulgroup" class="social-icon"><img src="assets/icons/linkedin.png" alt="Linkedin" /></a>
        <a href="https://www.instagram.com/shomoul.group" class="social-icon"><img src="assets/icons/instagram.png" alt="Instagram" /></a>
        <a href="https://www.facebook.com/shomoulgroup" class="social-icon"><img src="assets/icons/facebook.png" alt="Facebook" /></a>
      </div>
      <a href="contact.html#contact-form-section" class="btn-submit-request">قدم طلبك</a>
    </div>
  </div>
</header>
